<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Личный кабинет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</head>
<body>
<div th:insert="Blocks/header1 :: header1"></div>

<div class="container">
    <main>
        <div class="row">
            <div class="col-3">
                <div th:insert="Blocks/exhibitorsPASidebar :: exhibitorsPASidebar"></div>
            </div>

            <div class="col-9">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                    <h1 class="d-flex align-items-center col-md-auto mb-2 mb-md-0 text-dark strong">Личный кабинет</h1>
                    <div class="col-md-auto text-end">
                        <a th:href="@{'/exhibitorsPersonalAccountEdit/' + ${exhibitor.id}}">Изменить данные </a>
                    </div>
                </div>

                <div class="d-flex flex-column p-3 my-3 alert">
                    <h4>Полное имя:</h4>
                    <p th:text = "${exhibitor.FullName}"/>

                    <h4>Компания:</h4>
                    <p th:text = "${exhibitor.Company}"/>

                    <h4>Email:</h4>
                    <p th:text = "${exhibitor.Email}"/>

                    <h4>Описание:</h4>
                    <p th:text = "${exhibitor.Description}"/>
                </div>
            </div>
        </div>
    </main>
</div>

<div th:insert="Blocks/footer :: footer"></div>
</body>
</html>