<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Личный кабинет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</head>
<body>
<div th:insert="Blocks/header1 :: header1"></div>

<div class="container">
    <main>
        <div class="row">
            <div class="col-3">
                <div th:insert="Blocks/organizersPASidebar :: organizersPASidebar"></div>
            </div>

            <div class="col-9">
                <h1>Новая завяка на проведение выставки</h1>
                <hr>

                <form class="needs-validation" method="POST" modelAttribute="exhibitionForm">
                    <label for="Name" class="form-label">Название выставки</label>
                    <input type="text" name="Name" id="Name" placeholder="Введите название выставки" class="form-control" value="" required=""><br>

                    <label for="ShortDescription" class="form-label">Краткое описание выставки</label>
                    <input type="text" name="ShortDescription" id="ShortDescription" placeholder="Введите короткое описание выставки" class="form-control" value="" required=""><br>

                    <label for="Description" class="form-label">Полное описание выставки</label>
                    <textarea name="Description" id="Description" placeholder="Введите полное описание выставки" class="form-control" value="" required=""> </textarea><br>

                    <label for="TagName" class="form-label">Тег выставки</label>
                    <input type="text" name="TagName" id="TagName" placeholder="Введите тег выставки" class="form-control" value="" required=""><br>

                    <label for="BeginningDate" class="form-label">Дата начала выставки</label>
                    <input type="date" name="BeginningDateS" id="BeginningDate" placeholder="Дата начала" class="form-control" value="" required=""><br>

                    <label for="EndDate" class="form-label">Дата окончания выставки</label>
                    <input type="date" name="EndDateS" id="EndDate" placeholder="Дата окончания" class="form-control" value="" required=""><br>
                    <hr>
                    <button type="submit" class="btn btn-success">Подать заявку</button>
                </form>

            </div>
        </div>
    </main>
</div>

<div th:insert="Blocks/footer :: footer"></div>
</body>
</html>